@{
    ViewData["Title"] = "Administrativa";
}

<style>
    body {
        background-color: rgba(237,237,237,255);
    }

</style>

<body>

    <main>
        <div class="carousel-inner">
            <div class="Banner-item active">
                <img src="/img/BannerAD.jpg" />
                <div class="container">
                    <div class="carousel-caption">
                        <h1 class="text-color">Bachillerato Tecnico Administrativa</h1>
                        <p><a class="btn btn-lg btn-primary" asp-controller="Indel" asp-action="Formulario">Inscribirse</a></p>
                    </div>
                </div>
            </div>
        </div>
    </main>


    <!-- Content section 1-->
    <section id="scroll">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="img-fluid rounded-circle" src="/img/Administrativa/AM2.jpg" alt="..." /></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">Objetivos </h2>
                        <p>Desarrollar habilidades en la toma de decisiones y solución de problemas empresariales</p>
                        <p>Capacitar a los estudiantes en la planificación, organización, dirección y control de empresas y organizaciones.</p>
                        <p>Promover competencias en la administración de recursos humanos, incluyendo la contratación, evaluación y capacitación de personal.</p>
                        <p>Enseñar el manejo de herramientas tecnológicas y sistemas administrativos para optimizar la eficiencia organizacional.</p>
                        <p>Preparar a los estudiantes para gestionar y coordinar proyectos dentro de la organización.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Content section 2-->
    <section>
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6">
                    <div class="p-5"><img class="img-fluid rounded-circle" src="/img/Administrativa/AM1.jpg" alt="..." /></div>
                </div>
                <div class="col-lg-6">
                    <div class="p-5">
                        <h2 class="display-4">Áreas de Estudio </h2>
                        <p>Principios de administración y gestión empresarial</p>
                        <p>Recursos humanos y gestión de personal</p>
                        <p>Finanzas y contabilidad básica</p>
                        <p>mercadeo y ventas</p>
                        <p>Uso de software de administración (ERP, hojas de cálculo)</p>
                        <p>Comunicación empresarial</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Content section 3-->
    <section>
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="img-fluid rounded-circle" src="/img/Administrativa/AD1.jpg" alt="..." /></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">Perfil al terminar </h2>
                        <p> Al finalizar el bachillerato, la estudiante estará preparada para desempeñarse como asistente administrativo, gestor de proyectos, coordinador de recursos humanos o en áreas relacionadas con la administración de empresas. Además, tendrá la posibilidad de continuar sus estudios en carreras universitarias como Administración de Empresas, Recursos Humanos, Mercadotecnia o afines.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
