
@{
    ViewData["Title"] = "Principal";
}

<style>
    body{
        background-color: rgba(237,237,237,255);
 
    }

</style>


<container>
        
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel" >
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">

                <img class="bd-placeholder-img" width="100%" height="100%" src="/img/Banner.png" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777" /></img>


            </div>
            <div class="carousel-item">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777" /></svg>

                <div class="container">
                    <div class="carousel-caption">
                        <h1>Another example headline.</h1>
                        <p>Some representative placeholder content for the second slide of the carousel.</p>
                        <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777" /></svg>

                <div class="container">
                    <div class="carousel-caption text-end">
                        <h1>One more for good measure.</h1>
                        <p>Some representative placeholder content for the third slide of this carousel.</p>
                        <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
       

    </container>






<div class="container marketing">

    <hr class="featurette-divider">

    <center><h1>Nuestros Valores</h1></center>

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="/img/Iconos/respeto.png" role="img"  preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em"></text></img>

            <h2>Respeto</h2>
            <p>Fomentar el respeto mutuo entre estudiantes, profesores y el personal, valorando la diversidad y las diferencias individuales.</p>
            
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="/img/Iconos/responsabilidad.png" role="img"  preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em"></text></img>

            <h2>Responsabilidad</h2>
            <p>Promover la responsabilidad personal y académica, alentando a los estudiantes a cumplir con sus deberes y compromisos.</p>
            
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="/img/Iconos/honestidad.png" role="img"  preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em"></text></img>

            <h2>Honestidad</h2>
            <p>Cultivar la integridad y la honestidad en todas las acciones, incluyendo el trabajo académico y las relaciones interpersonales.</p>
            
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="/img/Iconos/animo.png" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em"></text></img>

            <h2>Esfuerzo</h2>
            <p>Valorar el trabajo duro, la dedicación y la perseverancia en el proceso de aprendizaje.</p>
            
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="/img/Iconos/colaboracion.png" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em"></text></img>

            <h2>Colaboración</h2>
            <p>Fomentar el trabajo en equipo y la cooperación entre estudiantes, docentes y la comunidad educativa en general.</p>
           
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="/img/Iconos/disciplina.png" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em"></text></img>

            <h2>Disciplina</h2>
            <p>Mantener un ambiente ordenado y respetuoso que facilite el aprendizaje y el desarrollo personal.</p>
            
        </div><!-- /.col-lg-4 -->
    </div>


    <!-------------------------------------------------------------------------------------------------------------------------------------------------------->

    <hr class="featurette-divider">

    <center><h1>Nuestras Opciones</h1></center>

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Bachillerato Tecnico <span class="text-muted">Mecanica Automotriz</span></h2>
            <p class="lead">Conocimientos teóricos y prácticos en el área de la mecánica automotriz. Los estudiantes adquieren habilidades para diagnosticar, reparar y mantener sistemas mecánicos, eléctricos y electrónicos de vehículos. El programa abarca aspectos clave como el funcionamiento de motores de combustión interna, sistemas de transmisión, frenos, suspensión, sistemas de inyección electrónica, así como el uso de herramientas y equipos de diagnóstico avanzados.</p>
                <p><a class="btn btn-lg btn-primary" asp-controller="Indel" asp-action="Mecanica">Saber mas</a></p>

        </div>
        <div class="col-md-5">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="/img/MecanicaCopia.png" role="img"  preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa" dy=".3em"></text></img>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Bachillerato Tecnico <span class="text-muted">Desarrollo de Software</span></h2>
            <p class="lead">El Bachillerato Técnico en Desarrollo de Software está diseñado para formar profesionales con las habilidades necesarias para diseñar, desarrollar y mantener aplicaciones y sistemas informáticos. Este programa proporciona una sólida base en lenguajes de programación, bases de datos, diseño de interfaces, y metodologías de desarrollo ágil. Los estudiantes adquirirán las competencias necesarias para crear soluciones tecnológicas innovadoras que respondan a las necesidades del mercado.</p>
                <p><a class="btn btn-lg btn-primary" asp-controller="Indel" asp-action="Software">Saber mas</a></p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="/img/DScopia.jpg" role="img"  preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa" dy=".3em"></text></img>

        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Bachillerato Tecnico <span class="text-muted">Administracion</span></h2>
            <p class="lead">El Bachillerato Técnico en Administración está orientado a la formación de profesionales con los conocimientos y habilidades necesarios para gestionar y organizar los recursos de una empresa o institución de manera eficiente. Este programa abarca una amplia gama de áreas, como la gestión empresarial, finanzas, recursos humanos, mercadeo, y técnicas administrativas, permitiendo a los estudiantes adquirir una visión integral del funcionamiento de las organizaciones.</p>
                <p><a class="btn btn-lg btn-primary" asp-controller="Indel" asp-action="Administrativa">Saber mas</a></p>
        </div>
        <div class="col-md-5">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="/img/admiCopia.png" role="img"  preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa" dy=".3em"></text></img>

        </div>
    </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Bachillerato Tecnico <span class="text-muted">Contabilidad</span></h2>
                <p class="lead">El Bachillerato Técnico en Contabilidad está orientado a la formación de profesionales capaces de gestionar y administrar los recursos financieros de empresas y organizaciones. Este programa proporciona una base sólida en principios contables, finanzas, impuestos y manejo de software especializado en contabilidad. Los estudiantes adquieren competencias para registrar, analizar y presentar información financiera de manera eficiente, con apego a las normativas legales y fiscales vigentes.</p>
                <p><a class="btn btn-lg btn-primary" asp-controller="Indel" asp-action="Contaduria">Saber mas</a></p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="/img/Contacopia.jpg" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa" dy=".3em"></text></img>

            </div>
        </div>


        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Bachillerato General</h2>
                <p class="lead">El Bachillerato General es un programa educativo que proporciona una formación académica integral y multidisciplinaria, preparando a los estudiantes para continuar con estudios superiores o incorporarse al mundo laboral en diversas áreas. Este programa combina asignaturas científicas, humanísticas, sociales y artísticas, permitiendo a los estudiantes adquirir una amplia base de conocimientos y desarrollar competencias clave en pensamiento crítico, comunicación, y resolución de problemas.</p>
                <p><a class="btn btn-lg btn-primary" asp-controller="Indel" asp-action="General">Saber mas</a></p>
            </div>
            <div class="col-md-5">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="/img/generalCopia.jpg" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa" dy=".3em"></text></img>

            </div>
        </div>


    <hr class="featurette-divider">

</div>

<center><h1>Estamos ubicados</h1></center>

<section class="google-map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7751.859638422764!2d-89.36318763617759!3d13.722698707886392!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f6329d89f923423%3A0x53a1777568e8ed54!2sInstituto%20Nacional%20de%20Lourdes%20(INDEL)!5e0!3m2!1ses!2ssv!4v1728061688392!5m2!1ses!2ssv" class="map-iframe" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</section>








